<!--<%#= link_to 'HOME', welcome_index_path %><br>-->

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Back To List', articles_path %>

<h2>Comments:<%= @article.comments.size %></h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%#= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
<!--  <p>-->
<!--    <%#= form.label :commenter %><br>-->
    <%#= form.text_field :commenter %>
<!--  </p>-->
<!--  <p>-->
<!--    <%#= form.label :body %><br>-->
    <%#= form.text_area :body %>
<!--  </p>-->
<!--  <p>-->
    <%#= form.submit %>
<!--  </p>-->
<%# end %>